@(categorias: List[Categoria], nomeSessao: String, action: String)
@mainSite(categorias, nomeSessao){
		<!-- content-section-starts -->
	<div class="content">
	<div class="container">
		<div class="login-page">
			   <div class="account_grid">
			   <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
			  	 <h2>Novo Cliente?</h2>
				 <p>Ao criar uma conta na nossa loja, você será capaz de utilizar formas de pagamento mais rápido, armazenar endereço de envio, ver e rastrear suas encomendas em sua conta e muito mais.</p>
				 <a class="acount-btn" href="@routes.Clientes.novoCliente()">Criar Conta</a>
			   </div>
			   <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			  	<h3>JÁ POSSUI CADASTRO?</h3>
				<p>Se você tem uma conta conosco, por favor faça o login.</p>
				<form action="@action" method=post id="formLogin">
				  <div>
					<span>Endereço de Email<label>*</label></span>
					<input id="email" name ="email" type="text"> 
				  </div>
				  <div>
					<span>Senha<label>*</label></span>
					<input id="senha" name="senha" type="password"> 
				  </div>
				  <!-- <a class="forgot" href="#">Forgot Your Password?</a> -->
				  <input type="submit" value="Login">
			    </form>
			   </div>	
			   <div class="clearfix"> </div>
			 </div>
		   </div>
</div>

}