@(categorias: List[Categoria], itemPedidos: List[ItemPedido])
@mainSite(categorias){
		<!-- checkout -->
<div class="cart-items">
	<div class="container">
	<div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="@routes.Application.index()" title="Ir para a pagina inicial">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Carrinho
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			 <h2>MY SHOPPING BAG (3)</h2>
			 <div class="cart-gd">
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							$('.cart-header').remove();
						});
						});	  
					});
			   </script>
			 <table class="table">
				  <thead>
				    <tr>
				      <th></th>
				      <th>PRODUTO</th>
				      <th>VALOR UNITÁRIO</th>
				      <th>QUANTIDADE</th>
				    </tr>
				  </thead>
				  <tbody>
				  @for(item <- itemPedidos) {
				    <tr>
				      <td width="15%" Align = center><img src="@routes.Assets.versioned(item.produto.foto)" class="img-responsive" alt=""/></td>
				      <td>@item.produto.nome</td>
				      <td>@item.produto.preco</td>
				      <td>@item.quantidade</td>
				      <td><a class="acount-btn" href="@routes.Carrinho.remItemDoCarrinho(item.produto.id)">Remover</a></td>
				    </tr>
				  }
				  </tbody>
				</table>
		
	</div>
</div>

<!-- //checkout -->	
		
}