@(categorias: List[Categoria], itemPedidos: List[ItemPedido])
@mainSite(categorias){
		<!-- checkout -->
<div class="cart-items">
	<div class="container">
	
			 <h2>MEU CARRINHO</h2>
			 <div class="cart-gd">
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							$('.cart-header').remove();
						});
						});	  
					});
			   </script>
			 <table class="table">
				  <thead>
				    <tr>
				      <th></th>
				      <th>PRODUTO</th>
				      <th>VALOR UNITÁRIO</th>
				      <th>QUANTIDADE</th>
				    </tr>
				  </thead>
				  <tbody>
				  @for(item <- itemPedidos) {
				    <tr>
				      <td width="15%" Align = center><img src="@routes.Assets.versioned(item.produto.foto)" class="img-responsive" alt=""/></td>
				      <td>@item.produto.nome</td>
				      <td>@item.produto.preco</td>
				      <td>@item.quantidade</td>
				      <td><a class="acount-btn" href="@routes.Carrinho.remItemDoCarrinho(item.produto.id)">X</a></td>
				    </tr>
				  }
				  </tbody>
				</table>
		
	</div>
</div>

<!-- //checkout -->	
		
}