@(formCliente: Form[Cliente], id:Long, categorias: List[Categoria])
@import meuHelper._
@mainSite(categorias){
<!-- registration-form -->
<div class="registration-form">
	<div class="container">
	<div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="@routes.Application.index()" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Meu Cadastro
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Voltar para a página anterior.</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
		<h2>Meu Cadastro</h2>
		<div class="registration-grids">
			<div class="reg-form">
				<div class="reg">
					 <p>Bem-vindo, por favor insira os seguintes dados para continuar.</p>
					  <p>Se você já possui um cadastro. <a href="@routes.Application.account()">click aqui</a></p>
					 
					 @meuHelper.meuForm("clientes", routes.Clientes.salvar(id), "post"){
						@meuHelper.inputTextBootstrap("nome", formCliente("nome").value, "Nome:", "text")
						@meuHelper.inputTextBootstrap("cpf", formCliente("cpf").value, "CPF:", "text")
						@meuHelper.inputTextBootstrap("sexo", formCliente("sexo").value, "Sexo:", "text")
						@meuHelper.inputDateBootstrap("datanascimento", "Data de Nascimento")
						@meuHelper.inputTextBootstrap("telefone", formCliente("telefone").value, "Telefone:", "text")
						@meuHelper.inputTextBootstrap("endereco", formCliente("endereco").value, "Endereço:", "text")
						@meuHelper.inputTextBootstrap("numero", formCliente("numero").value, "numero:", "text")
						@meuHelper.inputTextBootstrap("cep", formCliente("cep").value, "CEP:", "text")
						@meuHelper.inputTextBootstrap("complemento", formCliente("complemento").value, "Complemento:", "text")
						@meuHelper.inputTextBootstrap("email", formCliente("email").value, "E-mail:", "text")
						@meuHelper.inputPasswordBootstrap("password", formCliente("password").value, "Password:")
						
						
											
						
						<input type="submit" value="Registrar">
						
					}
				 </div>
			</div>
			<div class="reg-right">
				 <h3>REGISTRAR</h3>
				 <div class="strip"></div>
				 <p>Para ser cliente, é necessário preencher corretamente o formulário abaixo com os respectivos dados cadastrais. Os campos em NEGRITO são de preenchimento obrigatório e essenciais para processarmos o envio do seu futuro pedido.</p>
				 <h3 class="lorem">TER UMA CONTA PERMITIRÁ:</h3>
				 <div class="strip"></div>
				 	<ol>
						 <li>Ter acesso a promoções e lançamentos</li>
						 <li>Visualizar seu histórico de pedidos</li>
						 <li>Adicionar ou alterar as preferências de e-mail</li>
					</ol>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- registration-form -->

}