@(categorias: List[Categoria])(content: Html)
<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Atelier Flávia Salles</title>
<link href="@routes.Assets.versioned("vendors/appatelier/css/bootstrap.css")" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="@routes.Assets.versioned("vendors/appatelier/css/style.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@routes.Assets.versioned("vendors/appatelier/css/component.css")" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Eshop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!-- cart -->
<!-- <link rel="stylesheet" href="@routes.Assets.versioned("vendors/appatelier/css/flexslider.css")" type="text/css" media="screen" /> -->

			<link rel="stylesheet" href="@routes.Assets.versioned("vendors/appatelier/css/responsiveslides.css")">
</head>
     <body>
<!-- header-section-starts -->
	<div class="header">
		<div class="header-top-strip">
			<div class="container">
				<div class="header-top-left">
					<ul>
						<li><a href="@routes.Application.account()"><span class="glyphicon glyphicon-user"> </span>Login</a></li>
						<li><a href="@routes.Clientes.novoCliente()"><span class="glyphicon glyphicon-lock"> </span>Criar Conta</a></li>			
					</ul>
				</div>
				<div class="header-right">
						<div class="cart box_1">
							<a href="@routes.Application.mostraCarrinho()">
								<h3> <span class="simpleCart_total"> R$0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)<img src="@routes.Assets.versioned("images/bag.png")" alt=""></h3>
							</a>	
							<p><a href="javascript:;" class="simpleCart_empty">Esvaziar Carrinho</a></p>
							<div class="clearfix"> </div>
						</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
			<div class="banner-top">
		<div class="container">
				<nav class="navbar navbar-default" role="navigation">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
	        <div class="logo">
	        <a href="@routes.Application.index()"><img src="@routes.Assets.versioned("images/02l.png")" width="80%"alt=""></a>
	        </div>
				<!-- <div class="logo">
					<h1><a href="@routes.Application.index()"><span>E</span> -Shop</a></h1>
				</div> -->
	    </div>
	    <!--/.navbar-header-->
	
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
			<li><a href="@routes.Application.index()">Home</a></li>
		        <li> <a href="@routes.Application.listaProdutos()">Produtos</a></li>
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
		            <ul class="dropdown-menu">
			            @for(categoria <- categorias){
							<li><a href="@routes.Produtos.FiltraPorCategoria(categoria.id)">@categoria.descricao</a></li>
						}
					</ul>
			</ul>
		</div>
				            
	 
	    
	    <!--/.navbar-collapse-->						
</nav>		        
   	<!--/.navbar-->
</div>
</div> 
        @content
        
		<!-- content-section-ends-here -->
		<div class="news-letter">
			<div class="container">
				<div class="join">
					<h6>NOSSA NEWSLETTER</h6>
					<div class="sub-left-right">
						<form>
							<input type="text" value="Digite seu e-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Digite seu e-mail';}" />
							<input type="submit" value="INSCREVA-SE" />
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="footer">
		<div class="container">
		 <div class="footer_top">
			
		  <div class="cards text-center">
				<img src="@routes.Assets.versioned("images/cards.jpg")" alt="" />
		  </div>
		  <div class="copyright text-center">
				<p>© 2016 Atelier Flávia Salles. All Rights Reserved | by Kelwy Oliveira, Mayara Ribeiro, Raiane Amaral</p>
		  </div>
		</div>
		</div>        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="@routes.Assets.versioned("vendors/appatelier/js/jquery.min.js")"></script>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfont-->
		<!-- for bootstrap working -->
			<script type="text/javascript" src="@routes.Assets.versioned("vendors/appatelier/js/bootstrap-3.1.1.min.js")"></script>
		<!-- //for bootstrap working -->
		<!-- cart -->
			<script src="@routes.Assets.versioned("vendors/appatelier/js/simpleCart.min.js")"> </script>
		
		</body>
</html>